# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\mladen_google_search\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
